<!-- crear-zona.component.html -->
<p-card header="Crear/Editar Zona" class="w-full">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        <div class="grid">
            <div class="col-6">
                <label>Nombre</label>
                <input type="text" pInputText formControlName="nombre" />
            </div>
            <div class="col-6">
                <label>Ubicación</label>
                <input type="text" pInputText formControlName="ubicacion" />
            </div>
            <div class="col-12">
                <label>Descripción</label>
                <textarea pInputTextarea
                    formControlName="descripcion"></textarea>
            </div>
        </div>
        <div class="mt-4">
            <button pButton label="Guardar" icon="pi pi-save"
                type="submit"></button>
            <button pButton label="Cancelar" class="ml-2"
                (click)="cancel()"></button>
        </div>
    </form>
</p-card>